@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #1e1e1e;
}

:root {
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --sm-column-gap: 1rem;
  --column-gap: 1.3rem;
  --md-column-gap: 2.8rem;
  --lg-column-gap: 3.8rem;
  --xl-column-gap: 4.5rem;
  --xxl-column-gap: 5.5rem;
  --orange-color: #f15a24;
  --dark-orange-color: #d14d1d;
  --white-color: #ffffff;
  --link-color: #1c1c1c;
  --grey-color: #00000099;
  --light-grey-color: #d9d9d9;
  --border-color: #24242466;
  --green-color: #0d4e41;
  --red-color: red;

  --sm-navbar-padding: 1.4rem 8rem;
  --sm-mobile-navbar-padding: 1.7rem 1.6rem;
  --container-padding: 2rem 8rem;
  --mobile-container-padding: 2rem 1.6rem;

  --xl-fontsize: 2.6rem;
  --lg-fontsize: 2rem;
  --lgx-fontsize: 2.4rem;
  --sm-fontsize: 0.8rem;
  --sml-fontsize: 0.9rem;
  --smlx-fontsize: 0.96rem;
  --md-fontsize: 1rem;

  --btn-fontsize: 0.9rem;
  --mobile-btn-fontsize: 1rem;
  --btn-fontweight: 500;
  --btn-padding: 0.6rem 1rem;
  --outline-btn-padding: 0.8rem 1rem;
  --mobile-outline-btn-padding: 0.9rem 1.1rem;

  --sm-margin-top: 0.5rem;
  --margin-top: 1rem;
}

body {
  min-height: 100vh;
}

section {
  padding: var(--container-padding);
}

h1,
h2,
h3 {
  color: var(--link-color);
  font-weight: 600;
}

h2 {
  font-size: var(--lg-fontsize);
}

h3 {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  section {
    padding: var(--mobile-container-padding);
  }
}
