@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #1e1e1e;
}

:root {
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --column-gap: 1.3rem;
  --md-column-gap: 2.8rem;
  --lg-column-gap: 3.8rem;
  --xl-column-gap: 4.5rem;
  --orange-color: #F15A24;
  --dark-orange-color: #d14d1d;
  --white-color: #FFFFFF;
  --link-color: #1c1c1c;
  --grey-color: #00000099;
  --light-grey-color: #D9D9D9;
  --border-color: #00000066;

  --sm-navbar-padding: 1.8rem 9rem;
  --container-padding: 2rem 9rem;

  --xl-fontsize: 2.6rem;
  --lg-fontsize: 2rem;
  --sm-fontsize: 0.8rem;
  --md-fontsize: 1rem;

  --btn-fontsize: 0.9rem;
  --btn-fontweight: 500;
  --btn-padding: 0.5rem 1rem;

  --sm-margin-top: 0.5rem;
  --margin-top: 1rem;
}


body {
  min-height: 100vh;
}

section {
  padding: var(--container-padding);
}

h1,
h2,
h3 {
  color: var(--link-color);
  font-weight: 600;
}

h2 {
  font-size: var(--lg-fontsize);
}

h3 {
  font-size: 1rem;
}